{% extends 'shared/_Main_Layout.html' %}
{% block content %}
    <!-- Banner Start -->
      
         <section id="parallex" class="parallax-window" style="background-image: url({{ album.img.url }})">
            <div class="container-fluid h-100">
               <div class="row align-items-center justify-content-center h-100 parallaxt-details">
                  <div class="col-lg-4 r-mb-23">
                     <div class="text-left">
                        <a href="javascript:void(0);">
                        <h1 class="slider-text big-title title text-uppercase" data-animation-in="fadeInLeft"
                              data-delay-in="0.6">{{ album.title }}</h1>
                        </a>
                        <div class="movie-time d-flex align-items-center mb-3">
                        </div>
                        <p>{{ album.desc }}</p>
                        <p>{{ detail.publish }}</p>
                     </div>
                  </div>
                  <div class="col-lg-8">
                     <div class="parallax-img">
                        <a href="movie-details.html">
                        	<img src="{{ album.img.url }}" class="img-fluid w-50">
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </section>
      

   <!-- Banner End -->
   <!-- MainContent -->
   <div class="main-content">

         <section class="movie-detail container-fluid">
         <div class="row">
            <div class="col-lg-12">
               <div class="trending-info g-border">
                  <h1 class="trending-text big-title text-uppercase mt-0">{{category.title}}</h1>
                  <ul class="p-0 list-inline d-flex align-items-center movie-content">
                     <li class="text-white">Exclusive</li>
                  </ul>
                  <p class="trending-dec w-100 mb-0">Artists : {{album.desc}}</p>
               </div>
            </div>
         </div>
      </section>

      <section class="container-fluid seasons">
         <ul class="trending-pills d-flex nav nav-pills align-items-center text-center s-margin" role="tablist">
            <li class="nav-item">
               <a class="nav-link active show" data-toggle="pill" href="#episodes" role="tab"
                  aria-selected="true">Tracks</a>
            </li>
         </ul>
         <div class="tab-content">
            <div id="episodes" class="tab-pane fade active show" role="tabpanel">
               <div class="block-space">
                  <div class="row">

                        {% for det in album.articles.all %}
                        <div class="col-1-5 col-md-6 col-6 iq-mb-30">

                        <div class="epi-box">
                           <div class="epi-img position-relative">
                              <img src="{{det.img.url}}" class="img-fluid img-zoom" alt="">
                              <div class="episode-play-info">
                                 <div class="episode-play">
                                    <a href="{% url 'music:detail' det.slug %}">
                                       <i class="ri-play-fill"></i>
                                    </a>
                                 </div>
                              </div>
                           </div>
                           <div class="epi-desc p-3">
                              <div class="d-flex align-items-center justify-content-between">
                                 <span class="text-white">{{det.title}}</span>
                              </div>
                              <a href="{% url 'music:detail' det.slug %}">
                                 <h6 class="epi-name text-white mb-0">{{det.desc}}
                                 </h6>
                              </a>
                           </div>
                        </div>
                     </div>
                     {% endfor %}
                     </div>
                     
                     
                  </div>
               </div>
            </div>
         </div>
      </section>
   </div>

{% endblock content %}