{% extends 'shared/_Main_Layout.html' %}
{% load static %}

{% block content %}

      <section id="parallex" class="parallax-window" style="background-image: url({{ detail.img.url }})">
            <div class="container-fluid h-100">
               <div class="row align-items-center justify-content-center h-100 parallaxt-details">
                  <div class="col-lg-4 r-mb-23">
                     <div class="text-left">
                        <a href="javascript:void(0);">
                        <h1 class="slider-text big-title title text-uppercase" data-animation-in="fadeInLeft"
                              data-delay-in="0.6">{{ detail.title }}</h1>
                        </a>
                        <div class="movie-time d-flex align-items-center mb-3">
                        </div>
                        <p>{{ detail.desc }}</p>
                        <p>{{ detail.publish }}</p>
                        <div class="parallax-buttons">
                           <a href="{{detail.download.url}}" download="{{detail.download.url}}" class="btn btn-hover">Download</a>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-8">
                     <div class="parallax-img">
                        <a href="movie-details.html">
                        	<img src="{{ detail.img.url }}" class="img-fluid w-100" alt="bailey">
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </section>
{% endblock %}