{% extends 'shared/_Main_Layout.html' %}
{% load static %}
{% block content %}
   <!-- MainContent -->
   <div class="main-content">
      <section class="movie-detail container-fluid">
         
      </section>
      <section id="iq-favorites">
         <div class="container-fluid">
            <div class="block-space">
               <div class="row">
                  <div class="col-sm-12 overflow-hidden">
                     <div class="iq-main-header d-flex align-items-center justify-content-between">
                        <h4 class="main-title">All Songs</h4>
                     </div>
                  </div>
               </div>
               <div class="row">
               {% for music in musics %}
                  <div class="col-1-5 col-md-6 col-6 iq-mb-30">
                     <div class="epi-box">
                        <div class="epi-img position-relative">
                           <img src="{{music.img.url}}" class="img-fluid img-zoom" alt="">
                           <div class="episode-play-info">
                              <div class="episode-play">
                                 <a href="{% url "music:detail" music.slug %}">
                                    <i class="ri-play-fill"></i>
                                 </a>
                              </div>
                           </div>
                        </div>
                        <div class="epi-desc p-3">
                           <div class="d-flex align-items-center justify-content-between">
                              <span class="text-white">{{music.title|truncatechars:15}}</span>
                           </div>
                           <a href="{% url "music:detail" music.slug %}">
                              <h6 class="epi-name text-white mb-0">{{music.desc|truncatechars:15}}
                              </h6>
                           </a>
                        </div>
                     </div>
                  </div>
                {% endfor %}  
               </div>
            </div>
         </div>
      </section>
   </div>   
   <nav class="d-flex justify-content-center" aria-label="Page navigation example">
        <ul class="pagination ">
            {% if musics.has_previous %}
            <li class="page-item"><a class="page-link bg-dark" href="{% url "music:music-list" musics.previous_page_number %}">Previous</a></li>
            {% endif %}
            {% for page in paginator.page_range %}
                <li class="page-item"><a class="page-link bg-dark" href="/{{ page }}">{{ page }}</a></li>
            {% endfor %}
            {% if musics.has_next %}
            <li class="page-item"><a class="page-link bg-dark" href="{% url 'music:music-list' musics.next_page_number %}">Next</a></li>
            {% endif %}
        </ul>
   </nav>
{% endblock %}