{% load static %}    
    
    <!-- jQuery, Popper JS -->
      <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
      <script src="{% static 'js/popper.min.js' %}"></script>
      <!-- Bootstrap JS -->
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <!-- Slick JS -->
      <script src="{% static 'js/slick.min.js' %}"></script>
      <!-- owl carousel Js -->
      <script src="{% static 'js/owl.carousel.min.js' %}"></script>
      <!-- select2 Js -->
      <script src="{% static 'js/select2.min.js' %}"></script>
      <!-- Magnific Popup-->
      <script src="{% static 'js/select2.min.js' %}"></script>
      <!-- Slick Animation-->
      <script src="{% static 'js/slick-animation.min.js' %}"></script>
      <!-- Custom JS-->
      <script src="{% static 'js/custom.js' %}"></script>