{% load static %}      
      
      <!-- Favicon -->
      <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
      <!-- Typography CSS -->
      <link rel="stylesheet" href="{% static 'css/typography.css' %}">
      <!-- Style -->
      <link rel="stylesheet" href="{% static 'css/style.css' %}" />
      <!-- Responsive -->
      <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />